/*
Theme Name:     Storefront-child
Theme URI:
Description:    Storefront child theme.
Author:         Me
Author URI:
Template:       storefront
Version:        0.1.0
*/
body:not(.product-template-default) .product.type-product.status-publish {
  width: 100% !important;
  margin-bottom: 20px;
  border: 1px solid #eee;
  background-color: #fff;
  box-shadow: 1px 2px 3px #ccc;
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 39px;
  padding-left: 15px;
  height: 220px; }
  body:not(.product-template-default) .product.type-product.status-publish .cart-form {
    top: 164px;
    left: 15px;
    width: 200px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 0; }
    @media only screen and (max-width: 505px) {
      body:not(.product-template-default) .product.type-product.status-publish .cart-form {
        position: static;
        margin: 8px auto;
        display: block; } }
    body:not(.product-template-default) .product.type-product.status-publish .cart-form .add-to-cart.button {
      padding: 5px 15px;
      text-transform: uppercase;
      margin-bottom: 0;
      font-size: 10px;
      border: 2px solid #eee;
      background-color: #fff;
      color: #555;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      transition: all 1s; }
      @media only screen and (max-width: 505px) {
        body:not(.product-template-default) .product.type-product.status-publish .cart-form .add-to-cart.button {
          width: 200px;
          padding: 8px; } }
    body:not(.product-template-default) .product.type-product.status-publish .cart-form .add-to-cart.button.added {
      background-color: #7287c4;
      color: #fff; }
    body:not(.product-template-default) .product.type-product.status-publish .cart-form .add-to-cart.button.full-width {
      width: 200px; }
      @media only screen and (max-width: 767px) {
        body:not(.product-template-default) .product.type-product.status-publish .cart-form .add-to-cart.button.full-width {
          height: 46px; } }
  body:not(.product-template-default) .product.type-product.status-publish .wcgp-select {
    margin-right: 3px; }
    @media only screen and (max-width: 505px) {
      body:not(.product-template-default) .product.type-product.status-publish .wcgp-select {
        width: 200px;
        margin-top: 15px;
        margin-bottom: 8px; } }
  @media only screen and (max-width: 767px) {
    body:not(.product-template-default) .product.type-product.status-publish {
      height: 230px; } }
  @media only screen and (max-width: 505px) {
    body:not(.product-template-default) .product.type-product.status-publish {
      height: auto; } }
  body:not(.product-template-default) .product.type-product.status-publish img.woocommerce-placeholder, body:not(.product-template-default) .product.type-product.status-publish .attachment-shop_catalog {
    height: 133px;
    width: 200px;
    float: left;
    border-radius: 0; }
    @media only screen and (max-width: 505px) {
      body:not(.product-template-default) .product.type-product.status-publish img.woocommerce-placeholder, body:not(.product-template-default) .product.type-product.status-publish .attachment-shop_catalog {
        float: none;
        margin: auto; } }
  body:not(.product-template-default) .product.type-product.status-publish .woocommerce-loop-product__title {
    margin-left: 220px;
    text-align: left;
    display: block;
    clear: none;
    font-weight: bold;
    color: #555; }
    @media only screen and (max-width: 505px) {
      body:not(.product-template-default) .product.type-product.status-publish .woocommerce-loop-product__title {
        margin: 8px auto;
        text-align: left;
        width: 200px; } }
    body:not(.product-template-default) .product.type-product.status-publish .woocommerce-loop-product__title a {
      color: inherit !important;
      text-decoration: inherit !important;
      background-color: inherit !important;
      font-weight: inherit !important; }

.woocommerce-pagination .page-numbers li .page-numbers {
  margin: 0; }

.woocommerce-pagination .page-numbers, .woocommerce-result-count {
  margin: 23px 0; }

.woocommerce-breadcrumb {
  display: none; }

/* Keep spacing between product categories once the sidebar goes away */
#main > .storefront-sorting {
  margin-bottom: 0; }

.wcda-display-attributes {
  max-height: 150px;
  overflow: hidden;
  margin-left: 220px; }
  @media only screen and (max-width: 505px) {
    .wcda-display-attributes {
      margin-left: 0 !important; } }

.wcda-display-attributes .attr-table {
  width: 200px;
  background-color: transparent; }
  @media only screen and (max-width: 505px) {
    .wcda-display-attributes .attr-table {
      margin: auto !important; } }

.wcda-display-attributes .attr-table td {
  background-color: transparent;
  padding: .2em 0 .1em 0;
  text-align: left; }

@media only screen and (max-width: 767px) {
  #secondary:not(.visible) .category-filter {
    display: none; } }

@media only screen and (max-width: 767px) {
  #wcapf-category-filter-2 {
    overflow-y: auto;
    max-height: calc(100% - 95px); } }

#wcapf-category-filter-2 ul {
  background-color: #fff; }

#wcapf-category-filter-2 > .wcapf-layered-nav > ul > li.chosen > ul {
  margin-left: 0 !important;
  padding: 0px; }
  #wcapf-category-filter-2 > .wcapf-layered-nav > ul > li.chosen > ul > li > a {
    border: 0;
    font-weight: bold;
    color: #7186C3;
    font-size: 17px;
    text-transform: uppercase; }
    #wcapf-category-filter-2 > .wcapf-layered-nav > ul > li.chosen > ul > li > a::before {
      display: none; }

#wcapf-category-filter-2 > .wcapf-layered-nav > ul > li > ul > li > ul {
  margin: 5px 8px 20px 8px !important;
  border: 1px solid #ccc; }
  #wcapf-category-filter-2 > .wcapf-layered-nav > ul > li > ul > li > ul > li > a {
    border: 0 !important; }

#wcapf-category-filter-2 li.not-selectable {
  opacity: .5;
  pointer-events: none; }
  #wcapf-category-filter-2 li.not-selectable a {
    background-color: rgba(0, 0, 0, 0.08); }

#wcapf-category-filter-2 > .children {
  margin: 0 !important; }

#wcapf-category-filter-2 li {
  margin: 0 !important;
  width: 100%; }
  #wcapf-category-filter-2 li::before {
    display: none !important; }
  #wcapf-category-filter-2 li a {
    border: 1px solid #ccc;
    color: #000;
    padding: 8px;
    display: block;
    width: 100%;
    margin-right: 15px;
    position: relative; }
    #wcapf-category-filter-2 li a::before {
      content: '';
      width: 18px;
      height: 18px;
      position: absolute;
      right: 9px;
      top: 9px;
      border: 1px solid #ccc;
      background-color: #eee; }
  #wcapf-category-filter-2 li.chosen > a::before {
    background-image: url(https://openclipart.org/download/253846/1467299975.svg);
    background-size: cover; }

#wcapf-category-filter-2 > ul > li > a {
  display: block; }

.widget-area .widget a:not(.button) {
  text-decoration: none; }

#secondary .wcapf-layered-nav .children {
  margin-top: 0 !important; }

#secondary .wcapf-layered-nav ul li {
  margin: 0 !important; }

#secondary .wcapf-layered-nav ul li.chosen .children {
  margin-top: !important; }
  #secondary .wcapf-layered-nav ul li.chosen .children li {
    margin: 0 !important; }

body.single-product #secondary {
  display: none; }

body.single-product #primary {
  width: 100%; }

body.single-product .woocommerce-product-gallery {
  margin-top: 23px !important; }

body.single-product .woocommerce-tabs {
  padding-top: 5px; }

body.single-product .summary .price {
  display: none; }

body.single-product form.cart .wcgp-select {
  display: block;
  padding: 10px;
  margin-bottom: 15px;
  width: 203px; }

@media only screen and (max-width: 767px) {
  body.single-product {
    margin-top: 0 !important; } }

body.single-product #tab-title-additional_information {
  display: none; }

@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@media only screen and (max-width: 767px) {
  body {
    margin-top: 50px; } }

.woocommerce-result-count,
.woocommerce-pagination {
  display: none; }

ul.products {
  margin-top: 23px;
  -webkit-transition: opacity .8s;
  -moz-transition: opacity .8s;
  transition: opacity .8s; }

#secondary .category-filter .subcategory-title {
  margin-top: 20px;
  margin-bottom: 0; }

#secondary .category-filter .subcategory {
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #ccc; }

#secondary .category-filter label,
#secondary .category-filter input[type=checkbox] {
  margin-left: 5px; }

#secondary .category-filter h3 {
  font-size: 20px; }

#secondary .category-filter h2 {
  font-size: 18px;
  font-weight: bold; }

.invisible {
  opacity: 0; }

.no-display {
  display: none; }

#primary, #secondary {
  animation: fade 2.0s forwards; }

h1 {
  margin-top: 10px; }

p + h2 {
  margin-top: 1em; }

.button {
  border: 1px solid #000; }

.woocommerce-page #secondary {
  box-shadow: 1px 2px 6px #bbb; }

.button.woof_reset_search_form {
  border: 0;
  width: 100%;
  font-weight: 100;
  float: none; }

.primary-navigation ul > li {
  text-transform: uppercase; }

.menu-item {
  position: relative; }

.current-menu-item a {
  color: #000 !important;
  font-weight: bold; }

@media screen and (min-width: 767px) {
  .current-menu-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    border-top: 2px solid #555;
    width: 70%;
    left: 15%;
    height: 20px; } }

#masthead {
  margin-bottom: 0;
  padding-top: 15px; }

@media only screen and (max-width: 767px) {
  #primary {
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    transition: opacity 0.5s; } }

.grayed-out {
  pointer-events: none;
  position: relative; }

.grayed-out::before {
  position: fixed;
  content: '';
  background-color: transparent;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  animation: fadeIn-skdfs 1s forwards; }

@keyframes fadeIn-skdfs {
  from {
    background-color: transparent; }
  to {
    background-color: rgba(0, 0, 0, 0.1); } }

.site-header {
  background-color: transparent; }

#wpadminbar {
  display: none;
  pointer-events: none; }

@media only screen and (max-width: 767px) {
  #secondary {
    -webkit-transition: transform 0.6s;
    -moz-transition: transform 0.6s;
    transition: transform 0.6s; }
  #secondary:not(.visible) {
    transform: translateY(-430px); } }

#secondary.fixed-position {
  position: fixed;
  top: -5px; }

#secondary {
  min-height: 320px;
  overflow-y: auto;
  padding: 10px;
  width: 25%;
  margin-left: -20px;
  margin-right: 0;
  background-color: #FFF;
  box-shadow: 5px 5px 15px #ccc;
  border: 1px solid #eee;
  margin-top: 23px;
  padding: 10px;
  max-width: 260px; }
  #secondary.visible {
    max-height: calc(100% - 95px); }
  @media only screen and (max-width: 767px) {
    #secondary {
      position: fixed;
      top: 0;
      left: 0;
      margin: 0;
      z-index: 99999;
      padding-bottom: 30px;
      box-shadow: -3px 0 6px rgba(0, 0, 0, 0.5) !important;
      height: 100%;
      max-height: 480px;
      max-width: none;
      width: 50%; } }
  #secondary .widget {
    margin: 10px 0; }
  #secondary .widget-title {
    margin-bottom: 0;
    padding-bottom: 0; }
  #secondary .woof {
    margin-top: 10px; }
  #secondary #lcgc-toggle-filter {
    position: absolute;
    display: none;
    bottom: 3px;
    width: 100%;
    padding: 10px;
    text-align: center;
    left: 0;
    background-color: transparent;
    border: 0;
    color: #555;
    cursor: pointer; }
    @media only screen and (max-width: 767px) {
      #secondary #lcgc-toggle-filter {
        display: block;
        font-size: 18px;
        font-weight: 300;
        line-height: 18px; } }

.custom-logo-link {
  width: 230px; }

button.menu-toggle {
  display: none; }

@media only screen and (max-width: 767px) {
  .storefront-primary-navigation:not(.visible) {
    transform: translateY(-300px); } }

.storefront-primary-navigation {
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  transition: transform 0.5s; }
  @media only screen and (max-width: 767px) {
    .storefront-primary-navigation {
      height: 350px;
      position: fixed;
      top: 0;
      right: 0;
      margin: 0;
      z-index: 99999;
      box-shadow: 3px 0 6px rgba(0, 0, 0, 0.5) !important;
      max-width: none;
      width: 50%;
      border: 0;
      padding: 0;
      max-height: none;
      background-color: #fff; }
      .storefront-primary-navigation .handheld-navigation {
        max-height: none;
        text-align: center; } }
  .storefront-primary-navigation #lcgc-toggle-mobile-nav {
    padding: 10px;
    font-size: 18px;
    text-align: center;
    font-family: "Source Sans Pro",HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: 100;
    width: 100%;
    background-color: transparent;
    border: 0;
    display: none;
    position: absolute;
    bottom: 0; }
    @media only screen and (max-width: 767px) {
      .storefront-primary-navigation #lcgc-toggle-mobile-nav {
        display: block; } }
    .storefront-primary-navigation #lcgc-toggle-mobile-nav i {
      margin-right: 5px; }

button.menu-toggle::before,
button.menu-toggle::after,
button.menu-toggle span::before {
  display: none; }

button.menu-toggle span::before {
  display: block;
  background: none;
  content: "\f00b";
  position: absolute;
  height: 50px;
  width: 50px;
  bottom: 10px;
  top: 13px;
  left: 18px;
  color: #555; }

.toggled button.menu-toggle span:before {
  opacity: 1; }
