@import 'variables';
@import 'mixins';

.cart-form {
  top       : $cart-form-top;
  left      : $cart-form-left;
  width     : $thumbnail-width;
  position  : absolute;
  display   : flex;
  flex-wrap : wrap;
  padding   : 0;

  @include screen-size(xs) {
    position : static;
    margin   : 8px auto;
  }

  // Add to Cart button
  .add-to-cart.button {
    padding          : $atc-button_v-padding $atc-button_h-padding;
    text-transform   : uppercase;
    margin-bottom    : 0;
    font-size        : 12px;
    background-color : #7287c4;
    border           : none;
    color            : #fff;
    border-radius    : 5px;
    flex-grow        : 1;
    margin-left      : 10px;
    font-weight      : bold;

    @include transition(all, 1s);

    @include screen-size(xs) {
      padding : 8px;
    }
  }

  .add-to-cart.button.added {
    background-color : #eee;
    color            : #ccc;
  }

  .add-to-cart.button.full-width {
    width: 200px; 

    @include screen-size(md) {
      height: 46px;
    }
  }
}

.wcgp-select {
  flex-grow     : 1;
  width         : 100%;
  padding       : 10px;
  padding-left  : 1px;
  margin-bottom : 8px;

  @include screen-size(xs) {
    width         : 200px;
    margin-top    : 15px;
    margin-bottom : 8px;
  }
}

.notification {
    background-color: #7287c4;
    color: #fff;
    padding-bottom: 10px;
    padding-top: 5px;
    margin-top: 5px;
    margin-left: 220px;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #aaa;

    @include screen-size(xs) {
      margin: auto;
    }

    @include screen-size(md) {
       margin-top: 0;
    }

    @include screen-size(xs) {
      margin-top: 10px;
    }

    a {
     display: inline-block;
     border-bottom: 1px solid #fff;
     color: #fff; 
     font-weight: bold;
    }
}
