@import 'variables.scss';
@import 'mixins.scss';

.wcda-display-attributes {
  max-height  : 150px;
  overflow    : hidden;
  margin-left : 220px;

  @include screen-size(xs) {
    margin-left: 0 !important;
  }
}

.wcda-display-attributes .attr-table {
  width            : 200px;
  background-color : transparent;

  @include screen-size(xs) {
    margin: auto !important;
  }
}

.wcda-display-attributes .attr-table td {
  background-color : transparent;
  padding          : .2em 0 .1em 0;
  text-align       : left;
}
